Aims/App_WebReferences/localhost/TransportWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Route" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gpsDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Branchcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEINO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GPSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Student">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Route" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BatchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StudentCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Branchcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEINO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AtTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docbinaryarray" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RevNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RevDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DocumentUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentUploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GPSSoapIn">
    <wsdl:part name="parameters" element="tns:GPS" />
  </wsdl:message>
  <wsdl:message name="GPSSoapOut">
    <wsdl:part name="parameters" element="tns:GPSResponse" />
  </wsdl:message>
  <wsdl:message name="StudentSoapIn">
    <wsdl:part name="parameters" element="tns:Student" />
  </wsdl:message>
  <wsdl:message name="StudentSoapOut">
    <wsdl:part name="parameters" element="tns:StudentResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentUploadSoapIn">
    <wsdl:part name="parameters" element="tns:DocumentUpload" />
  </wsdl:message>
  <wsdl:message name="DocumentUploadSoapOut">
    <wsdl:part name="parameters" element="tns:DocumentUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="TransportWebSoap">
    <wsdl:operation name="GPS">
      <wsdl:input message="tns:GPSSoapIn" />
      <wsdl:output message="tns:GPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Student">
      <wsdl:input message="tns:StudentSoapIn" />
      <wsdl:output message="tns:StudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DocumentUpload">
      <wsdl:input message="tns:DocumentUploadSoapIn" />
      <wsdl:output message="tns:DocumentUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransportWebSoap" type="tns:TransportWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GPS">
      <soap:operation soapAction="http://tempuri.org/GPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Student">
      <soap:operation soapAction="http://tempuri.org/Student" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentUpload">
      <soap:operation soapAction="http://tempuri.org/DocumentUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransportWebSoap12" type="tns:TransportWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GPS">
      <soap12:operation soapAction="http://tempuri.org/GPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Student">
      <soap12:operation soapAction="http://tempuri.org/Student" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentUpload">
      <soap12:operation soapAction="http://tempuri.org/DocumentUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportWeb">
    <wsdl:port name="TransportWebSoap" binding="tns:TransportWebSoap">
      <soap:address location="http://localhost:61500/TransportWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="TransportWebSoap12" binding="tns:TransportWebSoap12">
      <soap12:address location="http://localhost:61500/TransportWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>